<a href="https://colab.research.google.com/github/ajith18thayil/My-WorkS/blob/main/framingam_Feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/framingham.csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
df.drop(['education'],axis=1,inplace=True)
df

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
df.isna().sum()

male                 0
age                  0
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
df['cigsPerDay']=df['cigsPerDay'].fillna(df['cigsPerDay'].mode()[0])
df['BPMeds']=df['BPMeds'].fillna(df['BPMeds'].mode()[0])
df['totChol']=df['totChol'].fillna(df['totChol'].mean())
df['BMI']=df['BMI'].fillna(df['BMI'].mean())
df['heartRate']=df['heartRate'].fillna(df['heartRate'].mode()[0])
df['glucose']=df['glucose'].fillna(df['glucose'].mean())

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
#feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
test=SelectKBest(score_func=chi2)
fi=test.fit(x,y)
fi.scores_

array([ 18.89992969, 319.26601922,   0.81133358, 231.66955767,
        30.75959508,  16.10988745,  92.04873629,  39.14494372,
       235.50239174, 727.93553524, 152.7485629 ,  15.22736737,
         4.21733034, 391.15110532])

In [ ]:
col=x.columns
score=pd.DataFrame({'features':col,'score_chi2':fi.scores_})
score

           features  score_chi2
0              male   18.899930
1               age  319.266019
2     currentSmoker    0.811334
3        cigsPerDay  231.669558
4            BPMeds   30.759595
5   prevalentStroke   16.109887
6      prevalentHyp   92.048736
7          diabetes   39.144944
8           totChol  235.502392
9             sysBP  727.935535
10            diaBP  152.748563
11              BMI   15.227367
12        heartRate    4.217330
13          glucose  391.151105

In [ ]:
score.sort_values(by='score_chi2',ascending=False)

           features  score_chi2
9             sysBP  727.935535
13          glucose  391.151105
1               age  319.266019
8           totChol  235.502392
3        cigsPerDay  231.669558
10            diaBP  152.748563
6      prevalentHyp   92.048736
7          diabetes   39.144944
4            BPMeds   30.759595
0              male   18.899930
5   prevalentStroke   16.109887
11              BMI   15.227367
12        heartRate    4.217330
2     currentSmoker    0.811334

In [ ]:
X=df.drop(['heartRate','currentSmoker','BMI','prevalentStroke','male'],axis=1)
X

,age,cigsPerDay,BPMeds,prevalentHyp,diabetes,totChol,sysBP,diaBP,glucose,TenYearCHD
0,39,0.0,0.0,0,0,195.0,106.0,70.0,77.000000,0
1,46,0.0,0.0,0,0,250.0,121.0,81.0,76.000000,0
2,48,20.0,0.0,0,0,245.0,127.5,80.0,70.000000,0
3,61,30.0,0.0,1,0,225.0,150.0,95.0,103.000000,1
4,46,23.0,0.0,0,0,285.0,130.0,84.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...
4235,48,20.0,0.0,0,0,248.0,131.0,72.0,86.000000,0
4236,44,15.0,0.0,0,0,210.0,126.5,87.0,81.963655,0
4237,52,0.0,0.0,0,0,269.0,133.5,83.0,107.000000,0
4238,40,0.0,0.0,1,0,185.0,141.0,98.0,72.000000,0
4239,39,30.0,0.0,0,0,196.0,133.0,86.0,80.000000,0